body {
  text-align: center;
  background-color: #22668d;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}

:root {
  --background-color: #ffd9b7;
  --button-background: #9ed2be;
  --button-font: black;
  --start-button-color: #ffd9b7;
  --start-button-background-color: #352f44;
}

#level-title {
  margin-top: 100px;
  color: var(--background-color);
}

#level-2-title {
  color: var(--background-color);
}

#level-3-title {
  color: var(--background-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  background-color: var(--background-color);
  border: 5px solid var(--background-color);
  border-radius: 100% 100% 100% 100%;
}

.row > div {
  border: 1px dotted black;
}

.button-box {
  position: absolute;
  margin-top: -80px;
}
button {
  height: 80px;
  width: 80px;
  margin: 0;
  padding: 0;
  color: var(--button-font);
  border: 5px solid var(--background-color);
  background-color: var(--start-button-background-color);
  font-weight: 600;
  border-radius: 50%;
  color: var(--start-button-color);
}

.btn {
  display: inline-block;
  height: 120px;
  width: 120px;
}
#green {
  border-radius: 100% 0% 0% 0%;
}
#red {
  border-radius: 0% 100% 0% 0%;
}
#blue {
  border-radius: 0% 0% 100% 0%;
}
#yellow {
  border-radius: 0% 0% 0% 100%;
}

.game-over {
  background-color: var(--background-color);
  opacity: 0.5;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media only screen and (max-device-width: 1024px) {
  .btn {
    display: inline-block;
    height: 120px;
    width: 120px;
  }

  button {
    height: 80px;
    width: 80px;
    margin: 0;
    padding: 0;
    color: var(--start-button-color);
    border: 5px solid var(--background-color);
    background-color: var(--start-button-background-color);
    font-weight: 600;
    border-radius: 50%;
  }
}

@media only screen and (max-device-width: 600px) {
  .btn {
    display: inline-block;
    height: 120px;
    width: 120px;
  }

  button {
    height: 80px;
    width: 80px;
    margin: 0;
    padding: 0;
    color: var(--start-button-color);
    border: 5px solid var(--background-color);
    background-color: var(--start-button-background-color);
    font-weight: 600;
    border-radius: 50%;
  }
}
